
body {
    background-color: #fff3f3;
    font-family: Comic Sans MS, cursive, sans-serif;
    text-align: center;
    padding: 50px;
}
button {
    background-color: #ff80ab;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}
